*{
    margin:auto;
    font-family: 'Open Sans', sans-serif;
}

body{
   background-color:  rgb(229, 229, 229);
}

.header-background{
    color: #ffff;
    text-align: center;
    height: 16vh;
    background-color: rgb(11, 77, 155);
}

.wrapper{
    max-width: 1250px;
    background-color: #ffff;
    top:6%;
    left: 50%;
    width: 100vw;
    min-height: 84vh;
    position: absolute;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 33%);
    border-radius: 5px;
    transform: translateX(-50%);
}

.box-sidebar{
    width:30%;
    float:left;
    background-color: rgb(11, 77, 155);
    min-height: 84vh;
}

li{
    list-style-type: none;
    color:#ffff;
    cursor:pointer;
    padding:10px;
}